<div class="textleft">

<h2>DANMU ANALYZER</h2>

<h3>Word Cloud</h3>

<p><b>pattern</b>: {{"http://{host}/word-cloud/{platform}-{roomid}?buffer={number}&nn={string1}&nn={string2}"}}</p>
<p><b>platform</b>: douyu supported</p>
<p><b>roomid</b>: room id</p>
<p><b>bufferTime(unit: s)</b>: time of danmu stream buffer, min value is 30</p>
<p><b>nn</b>: filter by nicknames of danmus</p>
<p><b>e.g.</b>: <a href="/word-cloud/douyu-229346?bufferTime=30">http:xxxx/word-cloud/douyu-229346?bufferTime=30</a></p>

</div>
